<h1>You have reached the <%= @survey.title() %> survey</h1>
<a href="/survey/:id"></a>

<h2>Here are the questions:</h2>
<% if @survey.question_id().any?() %>
            <ul>
              <% @survey.question_id().each() do |question| %>
                <li><a href="/questions/<%= question.id()%>"><%= question.name() %></a> </li>
              <% end %>
            </ul>

            <% else %>
              <p>There are no volunteers on this project!</p>
          <% end %>

<form class="" action="/" method="post">
  <label for="question">Add a question:</label>
  <input type="text" name="question">
  <button type="submit"  class="btn btn-info"name="button">Add question</button>
</form>
